.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // overflow: hidden;
  align-items: center;
  box-shadow: 0 0 2px rgb(1, 14, 32);
  margin-bottom: 12px;

  .navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    img {
      width: 50px;
      height: 50px;
    }
    span {
      font-size: 26px;
      font-weight: 500;
      color: $primary-color;
    }
  }
  .navbar-items {
    ul {
      gap: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 24px;
      li {
        font-size: 18px;
        font-style: bold;
        cursor: pointer;
        padding: 5px 10px;
        color: #333333;
        font-weight: 500;
        &:hover {
          color: $primary-color;
        }
        a {
          &:focus {
            font-weight: bold;
            color: $primary-color;
          }
        }
      }
    }
  }

  svg {
    cursor: pointer;
    font-size: 28px;
    // margin: auto 10px;
    &:hover {
      color: $primary-color;
    }
  }
}
