@import "./assets/styles/main.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
html{
    display: block;
}
body{
    margin: auto;
    width: fit-content;
    height: auto;
    background-color: whitesmoke;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
li, a{
    list-style-type: none;
    text-decoration: none;
}